body {
    padding-top: 50px;
    background-color:lightgray;
}

h1{
    padding-top:20px;
}

#ptitle,#description{
    width:850px;
}


.property-form{
    font-weight:bold;
}

form{
    background-color: white;
    padding:20px;
}

#rooms,#bathrooms,#price,#location{
    width:250px;
}

#roomsandbathrooms{
    display: grid;
    grid-template-columns: 200px 200px;
    column-gap: 400px;

}
select{
    width:250px;
    height:35px;
}

#photo{
    width:300px;
}



#apbutton{
    width:200px;
}



